body {
  font-family: 'Montserrat-bold';
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
    font-family: "Montserrat-Bold", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
    font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* headings */
.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

#title {
  background-color: #Ef4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}



/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-family: "montserrat-light";
  font-size: 1.2rem;
}

/* buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #Ef4c68;
}

/* testimonials section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
}

.carousel-item {
  padding: 7% 15%;
}

/* press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/*CTA section*/
#cta {
  background-color: #Ef4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading {
  font-family: "montserrat-black";
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5
}

/* footer section*/
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  padding: 20px 10px;

}

/* media queries */
@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    transform: rotate(0);
    position: static;
  }
}
